# Python 相关
__pycache__/
*.pyc
*.pyo
*.pyd
.env
logs/
Social_Topic_Insight_3/logs/

# Vue 相关
vue/word-cloud-visualization/dist/
vue/word-cloud-visualization/node_modules/
vue/word-cloud-visualization/.env

# VSCode 相关
.vscode/
Social_Topic_Insight_3/.vscode/
vue/word-cloud-visualization/.vscode/

# 文档与临时文件
*.doc
*.pdf